{% load i18n %}
{% load static %}

<div class="container footer mobile">
    <h3 class="contact-us">Звязацца з намі:</h3>
    <a href="https://t.me/VolnyBSU_bot" class="socials">
        <img class="social icon" src="{% static 'img/icons/_Telegram.svg' %}" alt="Telegram icon">
        <h4 class="social link contact-us">VolnyBSU_bot </h4>
    </a>
    <a href="https://signal.me/#p/+37061765245" class="socials">
        <img class="social icon" src="{% static 'img/icons/_Signal.svg' %}" alt="Signal icon">
        <h4 class="social link contact-us">+370 617 65245</h4>
    </a>
    <a href="mailto:students4students@proton.me" class="socials">
        <img class="social icon" src="{% static 'img/icons/_Email Header.svg' %}" alt="E-mail icon">
        <h4 class="social link contact-us">students4students@proton.me</h4>
    </a>
    <div class="logo mobile" style="background-image: url({% static 'img/logo-s4s.png' %})"></div>
</div>

<div class="container socials footer desktop">
    <div class="logo desktop" style="background-image: url({% static 'img/logo-s4s.png' %})"></div>
    <div class="container" id="contact">
        <h3 class="contact-us">Звязацца з намі:</h3>
        <div class="socials">
            <a href="https://t.me/VolnyBSU_bot" class="socials">
                <img class="social icon" src="{% static 'img/icons/_Telegram.svg' %}" alt="Telegram icon">
                <h4 class="social link contact-us">VolnyBSU_bot </h4>
            </a>
            <a href="https://signal.me/#p/+37061765245" class="socials">
                <img class="social icon" src="{% static 'img/icons/_Signal.svg' %}" alt="Signal icon">
                <h4 class="social link contact-us">+370 617 65245</h4>
            </a>
            <a href="mailto:students4students@proton.me" class="socials">
                <img class="social icon" src="{% static 'img/icons/_Email Header.svg' %}" alt="E-mail icon">
                <h4 class="social link contact-us">students4students@proton.me</h4>
            </a>
        </div>
    </div>
</div>