<!DOCTYPE html>
<html>
<head>
    {% load i18n %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap" rel="stylesheet">


  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  <link rel="stylesheet" href="{% static 'css/kraty-detail.css' %}">
  <title>{{student.name}} {{student.surname}}</title>
</head>
{% include 'header.html'%}
<body>
  <div class="container profile">
    <h1 class="name">{{student.name}} {{student.surname}}</h1>
    <div class="image-text">
      <img class="profile-img" src={{ student.image.url }}>
      <div class="short-info">
        <p><b>Дата нараджэння: </b>{{student.date_of_birth}}</p>
        <p><b>Дата затрымання: </b>{{student.date_of_conclusion}}</p>
        <p><b>Абвінавачваецца: </b>{{student.accused|linebreaksbr }}</p>
        <p><b>Прысуд: </b>{{student.judgment}} </p>
        <p id="days-in-prison"><b>{{ student.get_status_txt }}</b></p>
      </div>
    </div>
    <div class="main-text">
      <p>{{student.description|linebreaks}}</p>
    </div>
  </div>
</body>
{% include 'footer.html' %}
</html>